<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        #zmanim p, #zmanim h2, #zmanim h3 {
            text-align: center;
            align-items: center;
        }

        #zmanim {
            border-radius: 25px;
            border: 2px solid #161440;
            padding: 10px;
            }
    </style>
    <div id="zmanim" style="text-align: center;">
        <div id="timesheet">
            <h2 id="parasha"></h2>
            <h3>ליל שבת</h3>
            <p class="withcomment">הדלקת נרות: <span id="candle-light"></span>
                </br>
                <small>&rlm;40 דקות לפני השקיעה</small>
            </p>
            <p>מנחה וקבלת שבת: <span id="mincha"></span></p>
            <h3>יום שבת</h3>
            <p>שחרית: 8:40</p>
            <p>שוכן עד: 9:00
                </br>
                <small>סוזק"ש: <span id="sofZmanShma"></span></small>
            </p>
            <p class="note">קידוש לאחר התפילה</p>
            <p class="note">דף יומי: 17:30</p>
            <!-- <p class="note">דף יומי: <span id="dafYomiShabbat"></span></p> -->
            <!-- <p>מנחה: <span id="shabbatMincha"></span></p> -->
            <p class="note">אבות ובנים: 18:00</p>
            <p>מנחה: 18:30</p>
            <p>מעריב וצאת שבת: <span id="maariv"></span></p>
        </div>

    </div>
    <script>
        const zmanim_url = "https://www.hebcal.com/zmanim?cfg=json&geonameid=295432"
        const parasha_url = "https://www.hebcal.com/shabbat?cfg=json&b=40&geonameid=295432&M=on&ue=on"
        async function getZmanim() {
            const response = await fetch(zmanim_url);

            // Parsing it to JSON format
            const data = await response.json();
            document.getElementById("sofZmanShma").innerHTML = new Date(data.times.sofZmanShma).toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });
        }

        async function getParasha() {
            const response = await fetch(parasha_url);

            // Parsing it to JSON format
            const data = await response.json();

            data.items.forEach(element => {
                switch (element.category) {
                    case "parashat":
                        document.getElementById("parasha").innerHTML = element.hebrew;
                        break;
                    case "candles":
                        let candles = new Date(element.date);
                        // candles.setMinutes(candles.getMinutes() + 3);
                        document.getElementById("candle-light").innerHTML = new Date(candles).toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });
                        // add 20 minutes to candle lighting time
                        let mincha = new Date(candles);
                        mincha.setMinutes(mincha.getMinutes() + 20);
                        document.getElementById("mincha").innerHTML = mincha.toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });

                        let shabbatMincha = new Date(candles);
                        // document.getElementById("shabbatMincha").innerHTML = shabbatMincha.toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });

                        let dafYomiShabbat = new Date(candles);
                        dafYomiShabbat.setMinutes(dafYomiShabbat.getMinutes() - 30);
                        // document.getElementById("dafYomiShabbat").innerHTML = dafYomiShabbat.toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });

                        let dafYomiFriday = new Date(candles);
                        dafYomiFriday.setMinutes(dafYomiFriday.getMinutes() - 5);
                        // document.getElementById("day-yomi-friday").innerHTML = dafYomiFriday.toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });
                        break;
                    case "havdalah":
                        document.getElementById("maariv").innerHTML = new Date(element.date).toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });
                        // add 15 minutes to havdalah time
                        let maarivB = new Date(element.date);
                        maarivB.setMinutes(maarivB.getMinutes() + 15);
                        // document.getElementById("maarivB").innerHTML = maarivB.toLocaleTimeString([], { hourCycle: 'h23', hour: '2-digit', minute: '2-digit' });

                        break;
                    default:
                        break;
                }
            });
        }

        getParasha();
        getZmanim();


    </script>
</body>

</html>
