<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        #zmanim p, #zmanim h2, #zmanim h3 {
            text-align: center;
            align-items: center;
        }

        #zmanim {
            border-radius: 25px;
            border: 2px solid #161440;
            padding: 10px;
            }
    </style>
    <div id="zmanim" style="text-align: center;">
        <div id="timesheet">
            <h2 id="parasha"></h2>
            <h3>ליל שבת</h3>
            <p class="withcomment">הדלקת נרות: <span id="candle-light"></span>
                </br>
                <small>&rlm;40 דקות לפני השקיעה</small>
            </p>
            <p>מנחה וקבלת שבת: <span id="mincha"></span></p>
            <h3>יום שבת</h3>
            <p>שחרית: 8:40</p>
            <p>שוכן עד: 9:00
                </br>
                <small>סוזק"ש: <span id="sofZmanShma"></span></small>
            </p>
            <p class="note">קידוש לאחר התפילה</p>
            <p class="note">דף יומי: <span id="dafYomiShabbat"></span></p>
            <p>מנחה: <span id="shabbatMincha"></span></p>
            <p>מעריב וצאת שבת: <span id="maariv"></span></p>
            <p class="note">אבות ובנים: <span id="avotUbanim"></span></p>
        </div>

    </div>
    <script src="/assets/js/update_zmanim.js"></script>
</body>

</html>
